body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f5aba4;
    padding: 10px;
    text-shadow: 1px 1px 2px #633f3a;
}
ul li {
  list-style: none;
}

.name {
    text-align: center;
}

.top-contacts {
    margin: 0 0 1%;
}

.education-entry,
.work-entry,
.crime-entry {
    padding: 0 5%;
}

.work-entry a,
.crime-entry a {
    font-size: 18px;
    font-weight: bold;
}

.work-entry p,
.crime-entry p {
    clear: both;
}

.crime-entry img {
    border-radius: 10%;
    border: 1px solid #f5aba4;
    padding: 0;
    margin: 5px
}

.education-entry .online-url {
    clear: both;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-size: 20px;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

blockquote {
    padding: 20px 25px;
    border-left: 5px solid #ccc;
    margin-bottom: 24px;
    background: #eee;
    position: relative;
    display: none;
}

blockquote:before {
    top: 0;
    left: 10px;
    content: '\201C';
    color: #ccc;
    font-size: 40px;
    position: absolute;
}

blockquote:after {
    bottom: 0;
    right: 10px;
    content: '\201D';
    color: #ccc;
    font-size: 40px;
    position: absolute;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    margin-top: 10px;
    display: block;
}

.page {
    width: auto;
    margin: 0 auto;
    border-width: 0 1px;
    border-color: #F6E6D7;
    border-style: solid;
}

.nav-bar {
    position: fixed;
    top: 220px;
    left: 66px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #AFB2B5;
    border-radius: 5px;
    display: none;
}

.welcome-message {
    font-size: 18px;
    padding: 1% 6%;
    line-height: 28px;
    text-align: center;
}

.lets-connect {
    padding: 5%;
    background-color: #fff6f5;
}

.gray-text {
    color: #b9af9d;
}

.dark-text {
    color: #544d4e;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.biopic {
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #f5aba4;
    display: block;
    width: 80vw;
}

span {
    padding: 5px;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {} @media only screen and (max-width: 900px) {} @media only screen and (max-width: 750px) {} @media only screen and (min-width: 1281px) {
    .page {
        width: 950px;
    }

    .nav-bar {
        display: block;
    }

    .biopic {
        width: auto;
    }

    blockquote {
        display: block;
    }
}